---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15phDFDOCi1ehaTMa6UbfRjW&email=john%40example.com&plan=myflixbase
    headers:
      Authorization:
      - Bearer sk_test_VqQNTdaBK8zAQt7MabYVgkL2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428591902,
          "id": "cus_61kigQGZNiHISF",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_61kigQGZNiHISF/subscriptions",
            "data": [
              {
                "id": "sub_61kimaSwHgwnoG",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1428585985,
                  "amount": 999,
                  "currency": "cad",
                  "id": "myflixbase",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1428591902,
                "status": "active",
                "customer": "cus_61kigQGZNiHISF",
                "cancel_at_period_end": false,
                "current_period_start": 1428591902,
                "current_period_end": 1431183902,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "cad",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_61kigQGZNiHISF/sources",
            "data": [
              {
                "id": "card_15phDFDOCi1ehaTMbMXklxvY",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "H26dOohpCTeoD8lr",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_61kigQGZNiHISF"
              }
            ]
          },
          "default_source": "card_15phDFDOCi1ehaTMbMXklxvY"
        }
  recorded_at: Thu, 09 Apr 2015 15:05:02 GMT
recorded_with: VCR 2.9.3
