---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15phCwDOCi1ehaTMJ7YekAZS&email=john%40example.com&plan=myflixbase
    headers:
      Authorization:
      - Bearer sk_test_VqQNTdaBK8zAQt7MabYVgkL2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 09 Apr 2015 15:04:43 GMT
recorded_with: VCR 2.9.3
