---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=cad&source=tok_15oxwgDOCi1ehaTMuGeepeqb&description=Sign%20up%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_VqQNTdaBK8zAQt7MabYVgkL2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15oxwhDOCi1ehaTM5xWQG5co"
          }
        }
  recorded_at: Tue, 07 Apr 2015 14:44:46 GMT
recorded_with: VCR 2.9.3
