---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15pihPDOCi1ehaTMV8xyr5a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_VqQNTdaBK8zAQt7MabYVgkL2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15pihPDOCi1ehaTMV8xyr5a2",
          "created": 1428597615,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15pihPDOCi1ehaTMnmSOmaLQ",
              "object": "charge",
              "created": 1428597615,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "cad",
              "refunded": false,
              "source": {
                "id": "card_15pihODOCi1ehaTMFbdzyK9O",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "H26dOohpCTeoD8lr",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_61mFeUN14moDwK"
              },
              "captured": true,
              "balance_transaction": "txn_15pihPDOCi1ehaTMKhNs9wjN",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_61mFeUN14moDwK",
              "invoice": "in_15pihPDOCi1ehaTMT2TV6hLK",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15pihPDOCi1ehaTMnmSOmaLQ/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_61mFjQfmye2eSm",
          "api_version": "2015-03-24"
        }
  recorded_at: Sat, 11 Apr 2015 14:38:30 GMT
recorded_with: VCR 2.9.3
