- @categories.each do |cat|
  %article.video_category
    %header
      %h3= link_to cat.name, cat
      %br
      .videos.row
        - cat.videos.each do |vid|
          .video.col-sm-2
            = link_to image_tag(vid.small_cover_url), "/video/#{vid.id}"