---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_VqQNTdaBK8zAQt7MabYVgkL2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15qS5ODOCi1ehaTMR5ScFhi8",
          "livemode": false,
          "created": 1428772082,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15qS5ODOCi1ehaTMPTACkUmK",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "H26dOohpCTeoD8lr",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "156.57.64.21"
        }
  recorded_at: Sat, 11 Apr 2015 17:08:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15qS5ODOCi1ehaTMR5ScFhi8&email=allene%40schultzdaniel.info&plan=myflixbase
    headers:
      Authorization:
      - Bearer sk_test_VqQNTdaBK8zAQt7MabYVgkL2
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1428772082,
          "id": "cus_62X9MNVNJqluxq",
          "livemode": false,
          "description": null,
          "email": "allene@schultzdaniel.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_62X9MNVNJqluxq/subscriptions",
            "data": [
              {
                "id": "sub_62X914B4fkmErt",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1428585985,
                  "amount": 999,
                  "currency": "cad",
                  "id": "myflixbase",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1428772082,
                "status": "active",
                "customer": "cus_62X9MNVNJqluxq",
                "cancel_at_period_end": false,
                "current_period_start": 1428772082,
                "current_period_end": 1431364082,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "cad",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_62X9MNVNJqluxq/sources",
            "data": [
              {
                "id": "card_15qS5ODOCi1ehaTMPTACkUmK",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "H26dOohpCTeoD8lr",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_62X9MNVNJqluxq"
              }
            ]
          },
          "default_source": "card_15qS5ODOCi1ehaTMPTACkUmK"
        }
  recorded_at: Sat, 11 Apr 2015 17:08:01 GMT
recorded_with: VCR 2.9.3
